@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600");

/*tema*/
.tema {
    color: #00598C;
    font-size: 24px;
}

/*POR TIPO DE SLIDE*/

/*Multiple choice*/

#actividad .workspace.multiple-choice .opcion {
	border: 0.5px solid #F3F0F8;
}

#actividad .workspace.multiple-choice .opcion p {
	padding: 5px 5px 7px 22px;
}

#actividad .workspace.multiple-choice .opcion.respuesta_ok {
	border-color: #038238;
	background-color: #d4f7e3;
}

#actividad .workspace.multiple-choice .opcion.respuesta_ok {
	background-image: none;
}

#actividad .workspace.multiple-choice .opcion.respuesta_ko {
	border-color: #db0021;
	background-color: #ffd8dc;
}

#actividad .workspace.multiple-choice .opcion.respuesta_ko {
	background-image: none;
}

#actividad .workspace.multiple-choice .opcion.solucion {
	border-color: #3195bb;
	background-color: #bee1ef;
}

/*True-False*/

#actividad .workspace.true-false .solucion {
	border-bottom: 0px;
	color: #3195bb;
}

/*Fill in the blanks*/

.slide_main input.respuesta_ok,
.slide_main .img-input-container.respuesta_ok {
	border-bottom-color: #038238;
	background-color: #d4f7e3;
}

.slide_main input.respuesta_ko,
.slide_main .img-input-container.respuesta_ko {
	border-bottom-color: #db0021;
}

.fillblanks-draggable-wrapper .response {
	border: 0.5px solid #F3F0F8;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.fillblanks-draggable .drag-over {
	border-top-color: #047a9c;
	border-right-color: #047a9c;
	border-bottom-color: #047a9c;
	border-left-color: #047a9c;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #047a9c4d;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #047a9c4d;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #047a9c4d;
}

.slide_main input.solucion,
.slide_main textarea.solucion,
.slide_main .shortanswer-container .preview.solucion,
.slide_main .img-input-container.solucion {
	border-bottom-color: #3195bb;
	background-color: #bee1ef;
}

/*Drag images to spaces*/

.fillblankimages-draggable .drag-over {
	border-top-color: #047a9c;
	border-right-color: #047a9c;
	border-bottom-color: #047a9c;
	border-left-color: #047a9c;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #047a9c4d;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #047a9c4d;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #047a9c4d;
}

.slide_main .fillblankimages-draggable .img-input-container.respuesta_ok {
	border-color: #038238;
	background-color: #d4f7e3;
}

.slide_main .fillblankimages-draggable .img-input-container.respuesta_ko {
	border-color: #db0021;
}

.slide_main .fillblankimages-draggable .img-input-container.solucion {
	border-color: #3195bb;
	background-color: #bee1ef;
}

/*Drag images to images*/

.image-over-image-multimedia .multimedia-container .respuesta.drop_ok img,
.image-over-image-multimedia .multimedia-container .answer.drop_ok img {
	outline: 2px dashed #038238;
}

.image-over-image-multimedia .multimedia-container .respuesta.drop_ko img,
.image-over-image-multimedia .multimedia-container .answer.drop_ko img {
	outline: 2px dashed #db0021;
}

/*Mark words*/

#actividad .markword-active {
	border-radius: 2px !important;
	border: 1px solid #ccc !important;
}

#actividad .markword-false {
	color: #db0021 !important;
	border-radius: 2px !important;
	border: 0.5px solid #db0021 !important;
}

#actividad .markword-correct {
	color: #038238 !important;
	background-color: #d4f7e3 !important;
	border-radius: 2px !important;
	border: 0.5px solid #038238 !important;
}

#actividad .markword-solution {
	border-radius: 2px !important;
	border: 0.5px solid #3195bb !important;
}

/*Fill in and choose*/

#actividad .workspace.fillblankschoosemixed .solucion {
	border-bottom: 1px solid #3195bb;
	background-color: #bee1ef;
}

#actividad .workspace.fillblankschoosemixed .respuesta_ko {
	border-bottom: 1px solid #db0021;
}

#actividad .workspace.fillblankschoosemixed .respuesta_ok {
	border-bottom: 1px solid #038238;
	background-color: #d4f7e3;
}

#actividad .workspace.fillblankschoosemixed .inline-answer a.respuesta_ok {
	color: #038238;
	border-color: #038238;
}

#actividad .workspace.fillblankschoosemixed .inline-answer a.solucion {
	color: #3195bb;
	border-color: #3195bb;
}

#actividad .workspace.fillblankschoosemixed .inline-answer a {
	border: 1px solid #cfcfcf;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

/*Matching*/

#actividad .workspace.matching .opcion {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

/*Rank*/

#actividad .workspace.ordenar .js-rank-item {
	border: 1px solid #F3F0F8;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#actividad .workspace.ordenar .solucion {
	border-color: #3195bb;
	background-color: #bee1ef;
}

#actividad .workspace.ordenar li.ejercicio_ko {
	background: none;
	border-color: #db0021;
	background-color: #ffd8dc;
}

#actividad .workspace.ordenar li.ejercicio_ok {
	background: none;
	border: 1px solid #038238;
	background-color: #d4f7e3;
}

/*Classify*/

#actividad .workspace.clasificar .clasificar_lista .classify-item {
	padding-top: 4px;
	border: 1px solid #F3F0F8;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#actividad .workspace.clasificar .clasificar_conjuntos .conjunto .group-box {
	border: 1px solid #F3F0F8;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#actividad .workspace.clasificar .clasificar_conjuntos .respuesta_ok {
	border-bottom: 1px solid #038238;
	background-color: #d4f7e3;
}

#actividad .workspace.clasificar .clasificar_conjuntos .respuesta_ko {
	border-bottom: 1px solid #db0021;
}

#actividad .workspace.clasificar .clasificar_conjuntos span.solucion {
	border-bottom: 1px solid #3195bb;
	background-color: #bee1ef;
}

/*Choose the answer*/

#actividad .workspace.chooseblanks .respuesta_ok {
	border-bottom: 1px solid #038238;
	background-color: #d4f7e3;
}

#actividad .workspace.chooseblanks .respuesta_ko {
	border-bottom: 1px solid #db0021;
}

#actividad .workspace.chooseblanks .solucion {
	border-bottom: 1px solid #3195bb;
	background-color: #bee1ef;
}

/*Test*/

#actividad .workspace.test .solucion {
	border-bottom: 0px solid #00bdff;
	color: #3195bb;
}

/*Short Answer Questions*/

.textarea-answer {
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

.shortanswer-container .js-rich-group {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.form-control {
	border: 0px;
	border-bottom: 1px solid #ccc;
	border-radius: 2px;
	-webkit-box-shadow: inset 0 0px 0px transparent;
	box-shadow: inset 0 0px 0px transparent;
}

.slide_number {
    display: none;
}

.logo-publisher {
	float: left;
	display: block;
	width: 90px;
	height: 40px;
	margin: 5px 0;
	background: url(./images/logo.png) center center/auto 100% no-repeat;
}

.edit .logo-publisher {
	top: 2px;
	width: 40px;
	height: 40px;
}

#actividad .player.audio,
#actividad .player.video, #help-panel-content .player,
#remote-alert-modal-rich .player {
	vertical-align: bottom;
	height: 25px !important;
    width: 25px;
    background-size: cover;
    background-position: 2px;
    background-color: #FBB900;
    background-image: url(images/pearsonbr_audio_icon.png);
}

.slider-navigator {
	display: inline-block;
	padding: 0 10px;
	color: #fff;
	font-size: 1.4rem;
	-webkit-transition: all ease-in 0.5s;
	-o-transition: all ease-in 0.5s;
	-moz-transition: all ease-in 0.5s;
	transition: all ease-in 0.5s;
	cursor: pointer;
}

.slider-navigator.pressed:hover,
.slider-navigator.disabled {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.slider-navigator.disabled {
	cursor: initial;
}

.slide-counter {
	color: #fff;
	font-size: 1.7rem;
}

.toolbar .active,
.toolbar .blink-hover-active,
.libro-left .active .info,
.libro-left .info:hover,
.libro-left .info.blink-hover-active {
	background-color: #047b9c !important;
}

.toolbar .active,
.libro-left .active .info {
	background-color: #047a9c !important;
}
.isTablet .toolbar .active {
	background-color: #047a9c !important;
}
.pearsonbr-description {
	padding: 18px;
}
.navbar.libro span.title a {
	color: #fff;
	background-image: none;
	height: inherit;
	padding: 0;
	width: fit-content;
	width: -moz-fit-content;
}
body.edit .navbar.libro span.title a {
	color: #fc4237;
}
@media (max-width: 767px) {
	#indice .unit-content .actividades .item .pags {
		display: inline-block;
		float: none;
	}

	.not-student #indice .unit-content .actividades .item.pearsonbr-icon .title {
		width: 100%;
		margin-right: 10px;
		max-width: none;
		padding-left: 40px;
		display: block;
		text-transform: unset;
		position: relative;
	}
	.not-student
		#indice
		.unit-content
		.actividades
		.item.pearsonbr-icon
		.title::before {
		content: "";
		display: inline-block;
		vertical-align: middle;
		width: 30px;
		min-width: 30px;
		height: 30px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: 0 0;
		margin: 0 12px 0 0;
		position: absolute;
		left: 0;
		top: 8px;
	}
	.not-student #indice .unit-content .actividades .item .icon {
		float: left;
		margin-top: 0;
	}
	.not-student #indice .unit-content .actividades .item .text {
		width: 100%;
		max-width: none;
		margin-left: 18px;
	}
	.not-student #indice .unit-content .actividades .item .icon-enviar {
		width: 10%;
		float: left;
	}

	.not-student .actividades a.js-title {
		width: calc(54% - 10px);
		display: block;
		overflow: hidden;
		float: left;
		padding-right: 10px;
		min-height: 46px;
	}
}
@media (max-width: 579px) {
	.not-student .actividades a.js-title {
		width: calc(100% - 52px);
	}
	.not-student .actividades .item-containment {
		width: 100%;
	}
	.not-student .material .item-containment {
		float: right;
	}

	.not-student #indice .unit-content .actividades .item .online,
	.not-student #indice .unit-content .actividades .item .acceso,
	.not-student #indice .unit-content .actividades .item .pags {
		width: 33%;
		text-align: center;
	}

	.not-student #indice .unit-content .actividades .item .text {
		padding: 5px 0 0 0px;
		margin-left: 0;
		line-height: 17px;
	}

	.not-student #indice .unit-content .material .item {
		margin: 0;
		width: calc(50% - 2px);
		padding: 10px 15px;
	}
	.not-student #indice .unit-content .material .item a {
		text-align: center;
		display: block;
	}
	.not-student #indice .unit-content .material .item .delete,
	.not-student #indice .unit-content .material .item .edit {
		display: none;
	}

	.not-student #indice .unit-content .material .item .imagen:after {
		top: 10px;
		left: inherit;
	}

	#indice .unit-content .header .title {
		display: block;
	}
}

.popover-background.shown
	.popover-template
	.popover-container
	.popover-title
	.popover-title-text {
	margin-bottom: 10px;
}
.bck-dropdown-content {
	background-color: #e9e9e9;
}
.btn-close-iframe a:hover {
	color: #ffffff;
}
.btn-close-iframe a {
	color: #c7c7c7;
}

#actividad  .review button{
	margin: 0 2px;
    background-color: #047a9c;
    border-radius: 0px;
}

#actividad  .review button:hover{
    background-color: #005a70;
}

#actividad .review {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#actividad .content .review div.attemps{
	flex: 1;
	margin: 0px;
	padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#actividad .content .review .attemps span{
    background-color: #047a9c;
}
#actividad  .review .btn-solution.js-show-solution {
	order: 7;
}

#actividad  .review .btn-next.btn.btn-primary.js-btn-next {
	order: 6;
}

/* iconos barra izq */
#indice .units .icon-planning img  {
    margin: 0px 9px 0 0 !important;

}

/* iconos barra derecha */
#indice .unit-content .icon-planning img {
    width: 29px;
    height: 32px;
    margin: 7px 7px 0 -1px;
}

#indice .unit-content li.js-item:last-child .icon-planning img{
	margin-top: 20px;
}

#indice .units .icon-planning, .js-list-activities .item .icon-planning {
    z-index: 1;
    position: relative;
	vertical-align: text-bottom !important;
	margin: -25px 0 0 0;
	top: 50%;

}

.js-list-activities .item .icon-planning.not-homework {
    margin-left: 47px !important;
}

#indice .unit-content .actividades .item.nivel_6 .text{
	max-width: 283px !important;
}

.js-item_js-online{
	max-width: 283px !important;
}

#indice .units .icon-planning img {
	margin: -5px 9px 5px 0 !important;
}

.js-list-activities .item .icon-planning img {
    margin: -19px 9px 5px 0 !important;
}

#indice .units ul li.pearsonbr-toc-home .icon-planning img{
	margin-top: 4px !important;
}

#indice .units ul li.pearsonbr-toc-unithead .icon-planning img{
	margin-top: 0 !important;
}

#indice .unit-content .actividades .icon-planning + .js-title .title {
    max-width: 277px;
}



/* General */

	body.content_type_clase_pearsonbr #actividad .content img {
		padding: 5px;
	}


	.is_app.content_type_clase_pearsonbr {
		padding-top: 0px;
	}

	.content_type_clase_pearsonbr #actividad {
		margin-bottom: 0px;
		-webkit-transform: none;
		-webkit-transform-style: flat;
	}

	#actividad .carousel-inner .item-container {
		background-image: none;
		margin: 20px auto 30px;
		padding: 0px;
		padding-bottom: 90px;
		position: relative;
	}

	.content_type_clase_pearsonbr #actividad .content .header .title img,
	.content_type_clase_pearsonbr #actividad .content .header .chapter {
		display: none;
	}

	#indice .units ul li a .number,
	#indice .unit-content .header .number
	 {
		visibility: hidden;
	}

	.content_type_clase_pearsonbr #actividad .content .header {
		border: none;
		margin-bottom: 0;
	}

	.content_type_clase_pearsonbr #actividad .content .header .title {
		margin-top: -40px;
		padding-top: 30px;
		padding-bottom: 10px;
		margin-bottom: 20px;
	}

	


	.texto_curso p:last-of-type {
		margin-bottom: 15px;
	}

	.content_type_clase_pearsonbr #actividad .texto_curso li,
	.content_type_clase_pearsonbr #actividad .workspace ul li li {
		margin-bottom: 10px;
	}

	#actividad .class_slide {
    	padding: 40px 97px 0px;
	}

	#actividad .class_slide:last-of-type {
	    padding-bottom: 100px;
	}

	#actividad .slide-concatenate .class_slide {
	    padding-bottom: 20px;
	}

	#actividad .slide-concatenate:last-of-type .class_slide {
	    padding-bottom: 100px;
	}

	.content_type_clase_pearsonbr .slide_main input {
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #ccc;
		border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	}

	.content_type_clase_pearsonbr .slide_main input:focus {
		border-top-color: #3AC62A;
		border-right-color: #3AC62A;
		border-bottom-color: #3AC62A;
		border-left-color: #3AC62A;
		outline-width: 0px;
		outline-style: none;
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(133, 200, 57, 0.6);
	}

	.content_type_clase_pearsonbr .slide_main input[disabled],
	.content_type_clase_pearsonbr .slide_main input[readonly],
	fieldset[disabled] .content_type_clase_pearsonbr .slide_main input {
		cursor: not-allowed;
		background-color: #eee;
		opacity: 1;
	}

	.content_type_clase_pearsonbr .slide_main input.respuesta_ok {
		border-color: #57e900;
		background: #D1F3BD;
	}

	.content_type_clase_pearsonbr .slide_main input.respuesta_ko {
		border-color: #FF3626;
		background: #FFA49D;
	}

	.content_type_clase_pearsonbr .slide_main input.solucion {
		border-color: #00BDFF;
		background: #B6ECFF;
	}

	.zoom_flag_img {
		top: 15px;
		right: 15px;
	}
/**/

/* Navigators */
	.navigator {
		bottom: 0;
		left: 0;
		position: absolute;
		width: 100%;
		padding: 0px 97px;
	}

	.navigator .title {
		width: calc(100% - 20px);
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		line-height: 4.0rem;
		display: inline-block;
		vertical-align: top;
	}

	.main-navigator {
		padding: 15px 0px;
		width: 100%;
		border-top: 1px solid #e5e5e5;
	}

	.navigator .left, .navigator .right {
		width: 49%;
		display: inline-block;
		cursor: pointer;
	}

	.navigator .left {
		padding-left: 20px;
	}

	.navigator .right {
		text-align: right;
		padding-right: 20px;
	}

	.navigator .slider-control.left,
	.navigator .slider-control.right {
		position: static;
		height: auto;
		width: 100%;
		background-color: transparent;
		border-radius: 0px;
		margin: 0px;
		opacity: 1;
		text-shadow: none;
		color: #999;
	}

	.navigator .slider-control.left:before,
	.navigator .slider-control.right:after {
		font-family: 'FontAwesome';
		position: absolute;
		margin-top: 9px;
	}

	.navigator .slider-control.left:before {
		margin-left: -20px;
		content: "\f104";
	}

	.navigator .slider-control.right:after {
		margin-left: 20px;
		content: "\f105";
	}

	.navigator .slider-control span {
		position: static;
		margin: 0px;
        cursor: pointer;
        min-height: 40px;
	}
/**/


/* Navbar */
	.navbar-bottom {
		background: #132E4C;
		padding-left: 100px;
		padding-right: 100px;
	}

	.slider-indicators {
	    padding-left: 0px;
	    padding-right: 0px;
	    white-space: nowrap;
	}
	.edit .slider-indicators {
		white-space: normal;
	}
	.slider-indicators li,
	.edit .slider-indicators li {
		background-color: #ffffff;
	    color: #005840;
	}

	.slider-indicators .active,
	.edit .slider-indicators .active,
	.slider-indicators li:hover,
	.edit .slider-indicators .concat.active,
	.slider-indicators .active {
	    background-color: #007FA3;
	    color: #ffffff;
	}

	.edit .slider-indicators .concat.active:before {
 		background-color: #007FA3;
	}

	#bottom-navigator {
		overflow: hidden;
		position: relative;
	}
	#bottom-navigator .slider-indicators {
		margin-left: auto;
		margin-right: auto;
	}
	#bottom-navigator .slider-indicators:after {
		content: '';
		display: table;
		clear: both;
	}
	#bottom-navigator li {
		width: 22px;
		height: 22px;
		margin: 2px;
		background: transparent;
		color: #fff;
		line-height: 2.2rem;
		font-weight: bold;
		text-indent: initial;
	}
	#bottom-navigator li:hover {
		color: #007FA3;
	}
	#bottom-navigator li.active {
		background: #fff;
		color: #007FA3;
	}
	#bottom-navigator.show_left:before {
		content: '\F053';
		font-family: 'FontAwesome';
		position: absolute;
		left: 0;
		z-index: 100;
		color: #ffffff;
		top: 10px;
		height: 35px;
		line-height: 3.0rem;
		width: 20px;
		text-align: left;
		background: linear-gradient(to right, #132E4C, transparent);
	}

	#bottom-navigator.show_right:after {
		content: '\F054';
		font-family: 'FontAwesome';
		position: absolute;
		right: 0;
		color: #ffffff;
		top: 10px;
		height: 35px;
		line-height: 3.0rem;
		width: 20px;
		text-align: right;
		background: linear-gradient(to left, #132E4C, transparent);
	}

/**/

/*NUMERO Y LOGO DE LA SLIDE*/

.content_type_clase_pearsonbr #actividad .content .header {
    position: relative;
}


.content_type_clase_pearsonbr #actividad .content .header .logo_holder {
	position: absolute;
	top: 10px;
	right: -80px;
	width: 80px;
	height: 60px;
	background: url('pearson-logo.png') center center / cover no-repeat;
}

/*TITULO DE LA SLIDE*/


/*TITULO 1*/
h4.bck-title1 {
    background: #00598C;
    width: fit-content;
    color: #009AD7;
    border-bottom: 5px solid #009AD7;
    padding: 5px 45px 3px 30px;
    margin-left: -30px;
    font-size: 30px;
}

/*TITULO 2*/

h4.bck-title2 {
    background: #00598C;
    color: #fff;
    width: fit-content;
    padding: 5px 15px;
    -webkit-box-shadow: 10px 10px 0 0 #cdc1de;
    box-shadow: 10px -5px 0 0 #cdc1de;
}

/*TITULO 3*/

.bck-title3 {
   font-size: 2.7rem;
    color: #007FA3;
    width: fit-content;
    margin: auto;
    background: #FFF1D6;
    margin-bottom: 20px;
    padding: 5px 15px;
    border-radius: 10px;
    margin-top: 80px;
}

h4.bck-title3:before {
    content: "";
    position: absolute;
    width: 103px;
    height: 85px;
    margin-top: -85px;
    margin-left: 90px;
    background-image: url(images/pearsonbr_unidade1_pg10icon.png);
    background-size: cover;
}

/*TITULO 4*/

.bck-title4 {
    font-size: 2.7rem;
    color: #007FA3;
    width: fit-content;
    margin: auto;
    background: #FFF1D6;
    margin-bottom: 20px;
    padding: 5px 15px;
    border-radius: 10px;
    margin-top: 80px;
}

h4.bck-title4:before {
    content: "";
    position: absolute;
    width: 103px;
    height: 85px;
    margin-top: -85px;
    margin-left: 90px;
    background-image: url(images/pearsonbr_unidade1_pg11icon.png);
    background-size: cover;
}

/*TITULO 5*/

.bck-title5 {
    font-size: 2.7rem;
    color: #007FA3;
}

/*TITULO 6*/

.bck-title6 {
    font-size: 2.7rem;
    color: #FBB900;
}

/*TITULO 7*/

.bck-title7 {
    font-size: 2.7rem;
    color: #009C9B;
}

/*TITULO 8*/

.bck-title8 {
    font-size: 2.7rem;
    color: #E67108;
}


/*TITULO 9*/

.bck-title9 {
    font-size: 2.7rem;
    color: #000;
}

/*list ul 2*/

.content .cke_contents .bck-ul-2 li:before,
#actividad .content .texto_curso .bck-ul-2 li:before,
#actividad .content .workspace ul li .bck-ul-2 li:before {
 background-color: #E67108;
}

/*list ul 3*/

.content .cke_contents .bck-ul-3 li:before,
#actividad .content .texto_curso .bck-ul-3 li:before,
#actividad .content .workspace ul li .bck-ul-3 li:before {
 background-color: #009C9B;
}


/* Lists */


.foro_wiki_cke_text ul li,
.texto_curso ul li,
.popover-template .popover-content ul li,
.workspace ul li ul li,
.cke_contents ul li, 
.preview ul li {
    padding-left: 0px;
}

.texto_curso ul,
.texto_curso ol,
.workspace:not(.multiple-choice,.matching,.ordenar,.clasificar,.test) ul li ul, 
.workspace:not(.multiple-choice,.matching,.ordenar,.clasificar,.test) ul li ol,
.cke_contents ul, .cke_contents ol, .popover-content ul, .popover-content ol {
    margin-bottom: 20px;
    padding-inline-start: 15px;
}


 .bck-ol li ,
 .bck-ol-2 li,
 .bck-ol-3 li,
 .bck-ol-4 li,
 .bck-ol-5 li,
 .bck-ol-6 li,
 .bck-ol-7 li,
 .bck-ol-8 li,
 .bck-ol-9 li,
 .bck-ol-10 li{
    list-style-type: none;
    counter-increment: bck-li-counter 1;
    position: relative;
    padding-left: 25px;
    margin-left: -15px;
}



/*Lista 1*/

.content ol.bck-ol li:before,
.cke_contents ol.bck-ol li:before{
    content: counter(bck-li-counter);
    display: block;
    position: absolute;
    top: 1px;
    left: -10px;
    margin: auto;
    color: #fff;
    background: #009C9B;
    text-align: center;
    width: 25px;
    height: 22px;
    line-height: 2.0rem;
    font-weight: bold;
    border-radius: 20px;
}

/*Lista 2*/

.content ol.bck-ol-2 li:before,
.cke_contents ol.bck-ol-2 li:before{
    content: counter(bck-li-counter)'.';
    position: relative;
    margin-left: -33px;
    margin-right: 8px;
    text-align: right;
    color: #000;
    margin-top: -4px;
    padding: 4px 6px;
    font-family: sans-serif;
}


/*Lista 3*/

.content ol.bck-ol-3 li:before,
.cke_contents ol.bck-ol-3 li:before{
    content: counter(bck-li-counter);
    display: block;
    position: absolute;
    top: 1px;
    left: -10px;
    margin: auto;
    color: #fff;
    background: #FBB900;
    text-align: center;
    width: 25px;
    height: 22px;
    line-height: 2.0rem;
    font-weight: bold;
    border-radius: 20px;
}

/*Lista 4*/

 .content ol.bck-ol-4 li:before,
 .cke_contents ol.bck-ol-4 li:before{
   content: counter(bck-li-counter);
    display: block;
    position: absolute;
    top: 1px;
    left: -10px;
    margin: auto;
    color: #fff;
    background: #E67108;
    text-align: center;
    width: 25px;
    height: 22px;
    line-height: 2.0rem;
    font-weight: bold;
    border-radius: 20px;
}



/*Lista 5  a,b,c*/

.content ol.bck-ol-5 li:before,
.cke_contents ol.bck-ol-5 li:before{
    content: counter(bck-li-counter, lower-alpha)')';
    position: relative;
    text-align: right;
    font-family: sans-serif;
    margin-right: 10px;
    margin-left: -27px;
    font-weight: bold;
}

/*Lista 6*/

.content ol.bck-ol-6 li:before,
.cke_contents ol.bck-ol-6 li:before{
    content: counter(bck-li-counter, lower-alpha)'.';
    position: relative;
    text-align: right;
    font-family: sans-serif;
    margin-right: 10px;
    margin-left: -27px;
    font-weight: bold;
}

/*Lista 7*/

 .content ol.bck-ol-7 li:before,
 .cke_contents ol.bck-ol-7 li:before{
    content: counter(bck-li-counter, lower-alpha)'—';
    position: relative;
    margin-left: 0px;
    text-align: right;
    font-family: sans-serif;
    margin-right: 10px;
     text-transform: uppercase;
}




/*LISTA DESORDENADA POR DEFECTO*/

.texto_curso ul li:before, .workspace ul li ul li:before, .cke_contents ul li:before {
    width: 6px;
    height: 6px;
    background-color: #414141;
}

/*ÉNFASIS*/

.bck-enfasis {
    color: #fff;
    font-weight: normal;
    -webkit-box-shadow: 10px 10px 0 0 #6b4895;
    box-shadow: 6px -3px 0 0 #6b4895;
    background: #6b4895;
    margin-right: 10px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 2px 7px;
    border: 2px solid #CDC1DE;
}

/*ÉNFASIS2*/

.bck-enfasis2 {
    color: #fff;
    font-weight: normal;
    -webkit-box-shadow: 10px 10px 0 0 #CDC1DE;
    box-shadow: 6px -3px 0 0 #CDC1DE;
    background: #6b4895;
    margin-right: 10px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 2px 7px;
    border: 2px solid #6b4895;
}

/*CAJA 1*/

.cke_contents .cke_contents .bck-box.box-1.center,
.bck-box.box-1 {
	border: 2px solid #009C9B;
    padding: 20px 30px;
    border-radius: 30px;
}

.cke_contents .bck-box.box-1.center .bck-title,
.bck-box.box-1 .bck-title {
    color: #009C9B;
    font-family: cursive;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 10px;
}

/*caja 2*/
.cke_contents .bck-box.box-2.center,
.bck-box.box-2.center {
    color: #127DA3;
    padding: 10px;
    border-right: 2px solid #E67108;
    border-left: 2px solid #E67108;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}


/*caja 3*/
.cke_contents .bck-box.box-3.center,
.bck-box.box-3.center {
    border: 2px solid #009C9B;
    padding: 15px 20px 0px;
    text-align: center;
    font-family: sans-serif;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    }

  /*caja 4*/
.cke_contents .bck-box.box-4.center,
.bck-box.box-4.center {
    border-right: 2px solid #009C9B;
    border-left: 2px solid #009C9B;
    padding: 15px 20px 0px;
    text-align: left;
    font-family: sans-serif;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}

 /*caja 5*/
.cke_contents .bck-box.box-5.center,
.bck-box.box-5.center {
    border: 2px solid #E67108;
    padding: 15px 20px;
    margin-bottom: 20px;
}


/*TABLA POR DEFECTO*/

.content table:not(.rf-tablegrid) td, .content table:not(.rf-tablegrid) th {
    border: 3px solid #fff;
    padding: 10px;
    background: #D4EAE4;
}

.content table:not(.rf-tablegrid) {
    border: 1px solid #F37731;
    margin-bottom: 20px;
}

/*TABLA SIN BORDES*/

.content .bck-table-no-border:not(.rf-tablegrid), .cke_contents .bck-table-no-border:not(.rf-tablegrid) {
    background: transparent;
    border: 0;
}

.content .bck-table-no-border:not(.rf-tablegrid) td, .cke_contents .bck-table-no-border:not(.rf-tablegrid) td {
    vertical-align: top;
    background: transparent;
    border: 0;
    padding: 10px;
}

/*ENCABEZADO 1 DE LA TABLA*/

.content table:not(.rf-tablegrid) .bck-td-a {
    background: #03873A;
    color: #fff;
    font-weight: bold;
}

