@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600");



/*POR TIPO DE SLIDE*/

/*Multiple choice*/

#actividad .workspace.multiple-choice .opcion {
	border: 0.5px solid #d8d8d8;
}

#actividad .workspace.multiple-choice .opcion p {
	padding: 5px 5px 7px 22px;
}

#actividad .workspace.multiple-choice .opcion.respuesta_ok {
	border-color: #038238;
	background-color: #d4f7e3;
}

#actividad .workspace.multiple-choice .opcion.respuesta_ok {
	background-image: none;
}

#actividad .workspace.multiple-choice .opcion.respuesta_ko {
	border-color: #db0021;
	background-color: #ffd8dc;
}

#actividad .workspace.multiple-choice .opcion.respuesta_ko {
	background-image: none;
}

#actividad .workspace.multiple-choice .opcion.solucion {
	border-color: #3195bb;
	background-color: #bee1ef;
}

/*True-False*/

#actividad .workspace.true-false .solucion {
	border-bottom: 0px;
	color: #3195bb;
}

/*Fill in the blanks*/

.slide_main input.respuesta_ok,
.slide_main .img-input-container.respuesta_ok {
	border-bottom-color: #038238;
	background-color: #d4f7e3;
}

.slide_main input.respuesta_ko,
.slide_main .img-input-container.respuesta_ko {
	border-bottom-color: #db0021;
}

.fillblanks-draggable-wrapper .response {
	border: 0.5px solid #d8d8d8;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.fillblanks-draggable .drag-over {
	border-top-color: #047a9c;
	border-right-color: #047a9c;
	border-bottom-color: #047a9c;
	border-left-color: #047a9c;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #047a9c4d;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #047a9c4d;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #047a9c4d;
}

.slide_main input.solucion,
.slide_main textarea.solucion,
.slide_main .shortanswer-container .preview.solucion,
.slide_main .img-input-container.solucion {
	border-bottom-color: #3195bb;
	background-color: #bee1ef;
}

/*Drag images to spaces*/

.fillblankimages-draggable .drag-over {
	border-top-color: #047a9c;
	border-right-color: #047a9c;
	border-bottom-color: #047a9c;
	border-left-color: #047a9c;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #047a9c4d;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #047a9c4d;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #047a9c4d;
}

.slide_main .fillblankimages-draggable .img-input-container.respuesta_ok {
	border-color: #038238;
	background-color: #d4f7e3;
}

.slide_main .fillblankimages-draggable .img-input-container.respuesta_ko {
	border-color: #db0021;
}

.slide_main .fillblankimages-draggable .img-input-container.solucion {
	border-color: #3195bb;
	background-color: #bee1ef;
}

/*Drag images to images*/

.image-over-image-multimedia .multimedia-container .respuesta.drop_ok img,
.image-over-image-multimedia .multimedia-container .answer.drop_ok img {
	outline: 2px dashed #038238;
}

.image-over-image-multimedia .multimedia-container .respuesta.drop_ko img,
.image-over-image-multimedia .multimedia-container .answer.drop_ko img {
	outline: 2px dashed #db0021;
}

/*Mark words*/

#actividad .markword-active {
	border-radius: 2px !important;
	border: 1px solid #ccc !important;
}

#actividad .markword-false {
	color: #db0021 !important;
	border-radius: 2px !important;
	border: 0.5px solid #db0021 !important;
}

#actividad .markword-correct {
	color: #038238 !important;
	background-color: #d4f7e3 !important;
	border-radius: 2px !important;
	border: 0.5px solid #038238 !important;
}

#actividad .markword-solution {
	border-radius: 2px !important;
	border: 0.5px solid #3195bb !important;
}

/*Fill in and choose*/

#actividad .workspace.fillblankschoosemixed .solucion {
	border-bottom: 1px solid #3195bb;
	background-color: #bee1ef;
}

#actividad .workspace.fillblankschoosemixed .respuesta_ko {
	border-bottom: 1px solid #db0021;
}

#actividad .workspace.fillblankschoosemixed .respuesta_ok {
	border-bottom: 1px solid #038238;
	background-color: #d4f7e3;
}

#actividad .workspace.fillblankschoosemixed .inline-answer a.respuesta_ok {
	color: #038238;
	border-color: #038238;
}

#actividad .workspace.fillblankschoosemixed .inline-answer a.solucion {
	color: #3195bb;
	border-color: #3195bb;
}

#actividad .workspace.fillblankschoosemixed .inline-answer a {
	border: 1px solid #cfcfcf;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

/*Matching*/

#actividad .workspace.matching .opcion {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

/*Rank*/

#actividad .workspace.ordenar .js-rank-item {
	border: 1px solid #d8d8d8;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#actividad .workspace.ordenar .solucion {
	border-color: #3195bb;
	background-color: #bee1ef;
}

#actividad .workspace.ordenar li.ejercicio_ko {
	background: none;
	border-color: #db0021;
	background-color: #ffd8dc;
}

#actividad .workspace.ordenar li.ejercicio_ok {
	background: none;
	border: 1px solid #038238;
	background-color: #d4f7e3;
}

/*Classify*/

#actividad .workspace.clasificar .clasificar_lista .classify-item {
	padding-top: 4px;
	border: 1px solid #d8d8d8;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#actividad .workspace.clasificar .clasificar_conjuntos .conjunto .group-box {
	border: 1px solid #d8d8d8;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#actividad .workspace.clasificar .clasificar_conjuntos .respuesta_ok {
	border-bottom: 1px solid #038238;
	background-color: #d4f7e3;
}

#actividad .workspace.clasificar .clasificar_conjuntos .respuesta_ko {
	border-bottom: 1px solid #db0021;
}

#actividad .workspace.clasificar .clasificar_conjuntos span.solucion {
	border-bottom: 1px solid #3195bb;
	background-color: #bee1ef;
}

/*Choose the answer*/

#actividad .workspace.chooseblanks .respuesta_ok {
	border-bottom: 1px solid #038238;
	background-color: #d4f7e3;
}

#actividad .workspace.chooseblanks .respuesta_ko {
	border-bottom: 1px solid #db0021;
}

#actividad .workspace.chooseblanks .solucion {
	border-bottom: 1px solid #3195bb;
	background-color: #bee1ef;
}

/*Test*/

#actividad .workspace.test .solucion {
	border-bottom: 0px solid #00bdff;
	color: #3195bb;
}

/*Short Answer Questions*/

.textarea-answer {
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

.shortanswer-container .js-rich-group {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.form-control {
	border: 0px;
	border-bottom: 1px solid #ccc;
	border-radius: 2px;
	-webkit-box-shadow: inset 0 0px 0px transparent;
	box-shadow: inset 0 0px 0px transparent;
}

.logo-publisher {
	float: left;
	display: block;
	width: 90px;
	height: 40px;
	margin: 5px 0;
	background: url(./images/logo.png) center center/auto 100% no-repeat;
}

.edit .logo-publisher {
	top: 2px;
	width: 40px;
	height: 40px;
}

.slider-navigator {
	display: inline-block;
	padding: 0 10px;
	color: #fff;
	font-size: 1.4rem;
	-webkit-transition: all ease-in 0.5s;
	-o-transition: all ease-in 0.5s;
	-moz-transition: all ease-in 0.5s;
	transition: all ease-in 0.5s;
	cursor: pointer;
}

.slider-navigator.pressed:hover,
.slider-navigator.disabled {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.slider-navigator.disabled {
	cursor: initial;
}

.slide-counter {
	color: #fff;
	font-size: 1.7rem;
}

.toolbar .active,
.toolbar .blink-hover-active,
.libro-left .active .info,
.libro-left .info:hover,
.libro-left .info.blink-hover-active {
	background-color: #047b9c !important;
}

.toolbar .active,
.libro-left .active .info {
	background-color: #047a9c !important;
}
.isTablet .toolbar .active {
	background-color: #047a9c !important;
}
.pearsonbr-description {
	padding: 18px;
}
.navbar.libro span.title a {
	color: #fff;
	background-image: none;
	height: inherit;
	padding: 0;
	width: fit-content;
	width: -moz-fit-content;
}
body.edit .navbar.libro span.title a {
	color: #fc4237;
}
@media (max-width: 767px) {
	#indice .unit-content .actividades .item .pags {
		display: inline-block;
		float: none;
	}

	.not-student #indice .unit-content .actividades .item.pearsonbr-icon .title {
		width: 100%;
		margin-right: 10px;
		max-width: none;
		padding-left: 40px;
		display: block;
		text-transform: unset;
		position: relative;
	}
	.not-student
		#indice
		.unit-content
		.actividades
		.item.pearsonbr-icon
		.title::before {
		content: "";
		display: inline-block;
		vertical-align: middle;
		width: 30px;
		min-width: 30px;
		height: 30px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: 0 0;
		margin: 0 12px 0 0;
		position: absolute;
		left: 0;
		top: 8px;
	}
	.not-student #indice .unit-content .actividades .item .icon {
		float: left;
		margin-top: 0;
	}
	.not-student #indice .unit-content .actividades .item .text {
		width: 100%;
		max-width: none;
		margin-left: 18px;
	}
	.not-student #indice .unit-content .actividades .item .icon-enviar {
		width: 10%;
		float: left;
	}

	.not-student .actividades a.js-title {
		width: calc(54% - 10px);
		display: block;
		overflow: hidden;
		float: left;
		padding-right: 10px;
		min-height: 46px;
	}
}
@media (max-width: 579px) {
	.not-student .actividades a.js-title {
		width: calc(100% - 52px);
	}
	.not-student .actividades .item-containment {
		width: 100%;
	}
	.not-student .material .item-containment {
		float: right;
	}

	.not-student #indice .unit-content .actividades .item .online,
	.not-student #indice .unit-content .actividades .item .acceso,
	.not-student #indice .unit-content .actividades .item .pags {
		width: 33%;
		text-align: center;
	}

	.not-student #indice .unit-content .actividades .item .text {
		padding: 5px 0 0 0px;
		margin-left: 0;
		line-height: 17px;
	}

	.not-student #indice .unit-content .material .item {
		margin: 0;
		width: calc(50% - 2px);
		padding: 10px 15px;
	}
	.not-student #indice .unit-content .material .item a {
		text-align: center;
		display: block;
	}
	.not-student #indice .unit-content .material .item .delete,
	.not-student #indice .unit-content .material .item .edit {
		display: none;
	}

	.not-student #indice .unit-content .material .item .imagen:after {
		top: 10px;
		left: inherit;
	}

	#indice .unit-content .header .title {
		display: block;
	}
}

.popover-background.shown
	.popover-template
	.popover-container
	.popover-title
	.popover-title-text {
	margin-bottom: 10px;
}
.bck-dropdown-content {
	background-color: #e9e9e9;
}
.btn-close-iframe a:hover {
	color: #ffffff;
}
.btn-close-iframe a {
	color: #c7c7c7;
}

#actividad  .review button{
	margin: 0 2px;
    background-color: #047a9c;
    border-radius: 0px;
}

#actividad  .review button:hover{
    background-color: #005a70;
}

#actividad .review {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#actividad .content .review div.attemps{
	flex: 1;
	margin: 0px;
	padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#actividad .content .review .attemps span{
    background-color: #047a9c;
}
#actividad  .review .btn-solution.js-show-solution {
	order: 7;
}

#actividad  .review .btn-next.btn.btn-primary.js-btn-next {
	order: 6;
}

/* iconos barra izq */
#indice .units .icon-planning img  {
    margin: 0px 9px 0 0 !important;

}

/* iconos barra derecha */
#indice .unit-content .icon-planning img {
    width: 29px;
    height: 32px;
    margin: 7px 7px 0 -1px;
}

#indice .unit-content li.js-item:last-child .icon-planning img{
	margin-top: 20px;
}

#indice .units .icon-planning, .js-list-activities .item .icon-planning {
    z-index: 1;
    position: relative;
	vertical-align: text-bottom !important;
	margin: -25px 0 0 0;
	top: 50%;

}

.js-list-activities .item .icon-planning.not-homework {
    margin-left: 47px !important;
}

#indice .unit-content .actividades .item.nivel_6 .text{
	max-width: 283px !important;
}

.js-item_js-online{
	max-width: 283px !important;
}

#indice .units .icon-planning img {
	margin: -5px 9px 5px 0 !important;
}

.js-list-activities .item .icon-planning img {
    margin: -19px 9px 5px 0 !important;
}

#indice .units ul li.pearsonbr-toc-home .icon-planning img{
	margin-top: 4px !important;
}

#indice .units ul li.pearsonbr-toc-unithead .icon-planning img{
	margin-top: 0 !important;
}

#indice .unit-content .actividades .icon-planning + .js-title .title {
    max-width: 277px;
}
